body {
	background-color: transparent;
}

#gifButtons {
	margin: 20px;
}

.funButton {
	margin: 5px;
	background-color: blue;
	border-style: groove;
	padding: 8px;
	color: white;
}

#page-title {
	text-align: center;
	font-weight: bold;
	background: url(../images/celebstar.jpg);
	background-size: contain;
	color: whitesmoke;
}

h1 {
	font-family: 'Carter One', cursive;
	font-size: 54px;
}

h2 {
	font-style: italic;
}

h3 {
	width: 25%;
	text-align: center;
	position: relative;

}

#celeb-input {
	width: 250px;
}

html {
	background-color: #87d6de;
}

.gif {
	padding: 5px;
	width: 255px;
	height:210px;
}

.ratings {
	width: 255px;
}